<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.simple.mapper.ScoreMapper">
  
  	<!-- insert -->
  	<!-- 매개변수의 전달 parameterType vo의 풀경로가 들어온다-->
  	<!-- ?{}가 #{}로 사용되야 한다 -->
  	<insert id="scoreRegist" parameterType="com.simple.command.ScoreVO">
  		insert into score(name, kor, eng) values(#{name}, #{kor}, #{eng})
  	</insert>
  
  	<!-- 첫번째 vo에 담고 첫번쨰 리시트에 담는다 - select문의 맵핑할 vo의 전체 경로 -->
  	<select id="getScores" resultType="com.simple.command.ScoreVO">
  		select * from score order by  num desc
  	</select>
  	
  	<!-- 매개변수가 1개일떄는 ?는 변수명을 따라간다 -->
  	<delete id="scoreDelete" parameterType="int">
  		<!-- num이 아니고 변수명인 index를 따라간다 -->
  		delete from score where num = #{index} 
  	</delete>
  
  </mapper>
